<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>welcome</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
   <!-- style css -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">

   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo" >
                           <a href="index.html"><img src="static/images/catlogo.png" alt="#" width="20%"/></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item active">
                              <a class="nav-link" href="index.html">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="#ab">About</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="#do">What we do</a>
                           </li>
                  
                           <li class="nav-item">
                              <a class="nav-link" href="contact.html">Contact Us</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
               <div class="col-md-2">
                  <ul class="social_icon">
                     <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                     <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                     <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                     <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- end header inner -->
   <!-- end header -->
   <!-- banner -->
   <section class="banner_main">
      <div id="myCarousel" class="carousel slide banner1" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container-fluid">
                  <div class="carousel-caption relative">
                     <div class="row d_flex">
                        <div class="col-md-6">
                           <!-- <img class="bann_img" src="images/banner_ing.jpg" alt="#" /> -->
                        </div>
                        <div class="col-md-6">
                           <span>Hello!</span>
                           <h1>The conscientious cat.</h1>
                           <p>Helping you be a little more concious about what you are putting on your skin. </p>
                           <a class="get_btn" href="Javascript:void(0)" role="button">Try us!</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container-fluid">
                  <div class="carousel-caption relative">
                     <div class="row d_flex">
                        <div class="col-md-6">
                           <img class="bann_img" src="images/banner_ing.jpg" alt="#" />
                        </div>
                        <div class="col-md-6">
                           <!-- <span>02/03</span> -->
                           <!-- <h1>randi nail Salon Creating Beauty</h1> -->
                           <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p> -->
                           <!-- <a class="get_btn" href="Javascript:void(0)" role="button">Get Appoinment</a> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container-fluid">
                  <div class="carousel-caption relative">
                     <div class="row d_flex">
                        <div class="col-md-6">
                           <img class="bann_img" src="images/banner_ing.jpg" alt="#" />
                        </div>
                        <div class="col-md-6">
                           <span>03/03</span>
                           <h1>Milina nail Salon Creating Beauty</h1>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
                           <a class="get_btn" href="Javascript:void(0)" role="button">Get Appoinment</a>
                        </div>
                     </div>
                  </div>
               </div>
            <!-- </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
               <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
               <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
               <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
               <span class="sr-only">Next</span>
            </a>
         </div> -->
      </div>
      <br>
      <p> </p>
      <br>
   </section>
   <!-- end banner -->
   <!-- what do we do? -->
   <div class="about slin2" id="do">
      <div class="container">
         <div class="row d_flex">
            <div class="col-md-6">
               <div class="titlepage">
                  <h2>what do we do?</h2>
                  <p>We help you check if the ingredients used in your skincare products are legit. 
                     All you need to do is upload the photo of the ingredient list of the product or paste the ingredient list so that the shady ingredients could be highlighted in red, indicating what's harmful. 
                  </p>
                     <!-- <a class="read_more" href="Javascript:void(0)"> Read More</a> -->
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img">
                     <!-- <figure><img src="images/about.png" alt="#" /></figure> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <hr>
      <!-- end what do we do? -->
      <!-- how do we know something is wrong  -->
      <div class="we_do slin" id="ab">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>How do we know something is wrong?</h2>
                     <h3>Our principles.</h3>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-10 offset-lg-1 col-md-12">
                  <div class="row">
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
   
                           <h3>Non-INCI names</h3>
                           <p>All legal skincare products need to follow of stating their ingredients according to the
                              international nomenclature of cosmetic ingredients.</p>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
   
                           <h3>Repeatated ingredients</h3>
                           <p>If an ingredient is used more than once in the list, something is surely not right!</p>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                          
                           <h3>Incorrect order</h3>
                           <p>ingredients are to be arranged in an descending order of weight. discrepancy such as water
                              lying in the middle is a red flag.</p>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                           
                           <h3>No preservatives</h3>
                           <p>"No preservatives" is just a too good to be true statement for a product meant to last for
                              months.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end how do we know something is wrong -->
      
      <!-- experts -->
      <div class="experts slin2">
         <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Meet Our Team</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12">
               <div class="row">
                  <div class="col-md-4">
                     <div id="exp" class="experts_box">
                        <div class="experts_img">
                           <figure><img src="static\images/seevam.png" alt="#" /></figure>
                        </div>
                        <div class="meet">
                           <h3>Shivam Sahu</h3>
                           <p>III year Production and Industrial engineering student at IITR</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div id="exp" class="experts_box">
                        <div class="experts_img">
                           <figure><img src="static\images\pandey.png" alt="#" /></figure>
                        </div>
                        <div class="meet">
                           <h3>Harsh Pandey</h3>
                           <p>III year Production and Industrial engineering student at IITR</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div id="exp" class="experts_box">
                        <div class="experts_img">
                           <figure><img src="static\images/vanshita.png" alt="#" /></figure>
                        </div>
                        <div class="meet">
                           <h3>Vanshita Rawat</h3>
                           <p>III year Chemical Engineering student at IITR</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <!-- <a class="read_more mar_top exper" href="Javascript:void(0)"> Read More</a> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end experts -->
   <!--  contact -->
   <div class="contact">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Get In Touch</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6 offset-md-3">
               <form id="request" class="main_form">
                  <div class="row">
                     <div class="col-md-12 ">
                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Email " type="type" name="Email ">
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                     </div>
                     <div class="col-md-12">
                        <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message</textarea>
                     </div>
                     <div class="col-md-12">
                        <button class="send_btn">Send</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="container-fluid">
         <div class="row">
            <!-- <div class="col-md-12">
               <div class="map_main">
                  <div class="map-responsive">
                     <iframe
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                        width="600" height="386" frameborder="0" style="border:0; width: 100%;"
                        allowfullscreen=""></iframe>
                  </div>
               </div>
            </div> -->
         </div>
      </div>
   </div>
   <!-- end contact -->
   <!--  footer -->
   <footer>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <ul class="conta">
                     <li><i class="fa fa-map-marker" aria-hidden="true"></i> Indian Institute of technology, Roorkee</li>
                     <li><i class="fa fa-phone" aria-hidden="true"></i> Call : +012334567890</li>
                     <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a></li>
                  </ul>
               </div>
               <div class=" col-md-3 col-sm-6">
                  <!-- <h3>About </h3>
                  <p class="variat">There are many variations of passages of Lorem Ipsum available, but the majority
                     have suffered le</p> -->
               </div>
               <div class=" col-md-3 col-sm-6">
                  <!-- <h3>Nail Salon </h3>
                  <p class="variat">There are many variations of passages of Lorem Ipsum available, but the majority
                     have suffered le</p> -->
               </div>
               <div class="col-md-2 col-sm-6">
                  <h3>Useful Links</h3>
                  <ul class="link_menu">
                     <li class="active"><a href="index.html">Home</a></li>
                     <li><a href="about.html" > About</a></li>
                     <li><a href="we-do.html">What we do</a></li>
                     <!-- <li><a href="pricing.html">Pricing</a></li> -->
                     <li><a href="contact.html">Contact Us</a></li>
                  </ul>
               </div>
               <div class="col-md-4 col-sm-6">
                  <h3>Subscribe</h3>
                  <form class="bottom_form">
                     <a class="right_btn" href="Javascript:void(0)"> <i class="fa fa-long-arrow-right"
                           aria-hidden="true"></i></a>
                     <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
                     <p>There are many variations of passages </p>
                  </form>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <p>Happy Skincare!
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
</body>

</html>